{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
{% include 'layout/header.html' %}
<!-- break div -->
<div>
    <br>
</div>
{% block body %}
{% endblock %}
{% include 'layout/footer.html' %}
</body>
<script>
    $('#SignOut').hide()
</script>
</html>