{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
{% include 'layout/header.html' %}
<!-- break div -->
<div>
    <br>
</div>
{% block body %}
{% endblock %}
{% include 'layout/footer.html' %}
</body>
<script>
    if (localStorage.getItem('access')){
        $('#SignOut').show()
        $('#SignIn').hide()
        $('#SignUp').hide()
    }
    else{
        $('#SignOut').hide()
    }
    function signOut(){
        localStorage.removeItem("full_name");
        localStorage.removeItem("access");
        window.location="/"
    }
</script>
</html>