<div class="navbar">
    <div class="headline">
        <h1><a href='/'>Mushroomyan</a></h1>
    </div>
    <div class="menu">
        <ul>
            <li><a href='/'>Home</a></li>
            <li>About Us</li>
            <li>Cart</li>
            <li id="SignIn"><a href="/user/log_in">Sign in</a></li>
            <li id="SignUp" ><a href="/user/join">Sign up</a></li>
            <li id="SignOut" onClick="signOut()"><a href="#">Sing out</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>